*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-image: url("1000_F_590878856_DKyqrA5eHbvgZyNf3OGXbeT5Csg4vlMg.jpg");
    background-color: #838383;
    width:100%;
    height:222px;
    border-bottom: solid black 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main {
    height: calc(100vh - 247px);
    overflow-x: scroll;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #D9D9D9;
    white-space: nowrap;
    flex-shrink: 0;
    padding-left: 10px;
    padding-right: 10px;
    
}
#loggaarean{
    position:absolute;
    margin-top: -20px;
}

#loggatxt{
    width:100%;
    display:flex;
    position:absolute;
    justify-content: center;
    margin-top: -50px;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px #000000;
}
nav{
    background-color: rgb(255, 255, 255);
    border:solid black 2px;
    width:225px;
    display:flex;
    justify-content: center;
    margin-top: 200px;
    user-select: none;
    
}
nav a{
    margin-right:5px;
}
#item1{
    color: black;
    text-decoration: none;
    margin-left:10px;
    margin-right:10px;
    height:400px;
    display: flex;
    width:300px;
    background-color: rgb(143, 143, 143);
    flex-shrink: 0;
    border-radius: 10px;
    border:solid black 2px;
}

footer {
    display: flex;
    justify-content: center;
    padding-top:5px;
    background-color: #838383;
    width:100%;
    height:25px;
}