*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    display: flex;
    justify-content: center;
    background-image: url("1000_F_590878856_DKyqrA5eHbvgZyNf3OGXbeT5Csg4vlMg.jpg");
    background-color: #838383;
    width:100%;
}
main {
    width:100%;
    height: calc(100vh - 225px);
    overflow-x: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #D9D9D9;
}
#item1{
    margin-left:20px;
    height:400px;
    width:300px;
    background-color: rgb(143, 143, 143);
    
}
footer {
    display: flex;
    justify-content: center;
    background-color: #838383;
    width:100%;
    height:25px;
}