*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display:flex;
    flex-direction: column;
    align-items: center;
}
header{
    width:100%;
    background-image: url(1000_F_590878856_DKyqrA5eHbvgZyNf3OGXbeT5Csg4vlMg.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 222px;
    border-bottom: solid black 2px;
}
#stortxt{
    
    position:absolute;
    color:white;
    text-shadow: 2px 2px 4px #000000;

}
nav{
    margin-top:200px ;
    width:225px;
    background-color: rgb(255, 255, 255);
    border:solid black 2px;
    display: flex;
    justify-content: center;
    user-select: none;
}
nav a{
    margin-right:5px;
}